.card {
    background: $white;
    border-radius: .25rem;
    box-shadow: 2px 2px 4px darken($whitish, 10%);
    cursor: move;
    display: block;
    margin: .4rem;
    overflow: hidden;
    transition: box-shadow .2s ease-in;
    &:hover {
        box-shadow: 3px 3px 6px darken($whitish, 10%);
    }
}

.card-inner {
    &.zoom-2 {
        padding-bottom: .5rem;
    }
    &.zoom-0,
    &.zoom-1 {
        .card-title {
            flex: 1;
            margin: 0;
            padding: .25rem;
        }
    }
}

.card-tags {
    display: flex;
    .card-tag {
        display: block;
        flex: 1;
        height: .5rem;

    }
}

.card-owner {
    position: relative;
    .card-owner-info {
        align-items: center;
        display: flex;
    }
    &:hover {
        .card-owner-actions {
            opacity: 1;
        }
    }
    img {
        flex-shrink: 0;
        height: 3rem;
        margin-right: .5rem;
        width: 3rem;
    }
    .card-owner-name {
        color: $gray-light;
    }
}

.card-owner-actions {
    background: rgba($white, .9);
    display: flex;
    justify-content: space-between;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all .2s;
    width: 100%;
    &:hover {
        color: $primary-light;
        svg {
            fill: currentColor;
        }
    }
    .icon {
        @include svg-size(1.2rem);
        display: inline-block;
        margin-right: .25rem;
        padding: 0;
    }
    a {
        align-items: center;
        cursor: pointer;
        display: flex;
        padding: .8rem 1.2rem;
    }
}

.card-title {
    @include font-size(normal);
    line-height: 1.25;
    margin-bottom: .25rem;
    padding: 1rem 1rem 0;
    span {
        padding-right: .25rem;
    }
}

.card-data {
    color: $gray-light;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    padding: 0 1rem;
}

.card-statistics {
    @include font-size(small);
    display: flex;
    margin-left: auto;
    .statistic {
        align-content: center;
        display: flex;
        margin-left: .75rem;
        &.active {
            color: $primary-light;
            svg {
                fill: currentColor;
            }
        }
    }
    .icon {
        @include svg-size(.75rem);
        fill: $gray-light;
        margin-right: .2rem;
    }
}

.card-completion {
    height: 1rem;
    margin: 1rem;
    position: relative;
    .card-completion-bar {
        background: $whitish;
        height: .4rem;
        width: 100%;
    }
    .card-completion-percentage {
        background: $primary-light;
        cursor: pointer;
        height: .4rem;
        left: 0;
        position: absolute;
        top: 0;
        &:hover {
            + .card-tooltip {
                opacity: 1;
            }
        }
    }
    .card-tooltip {
        background: $blackish;
        border-radius: 5px;
        color: $white;
        font-size: 14px;
        left: calc(25% - 50px);
        opacity: 0;
        padding: .25rem 1rem;
        position: absolute;
        text-align: center;
        top: -2.25rem;
        transition: opacity .2s;
        width: 100px;
        &::after {
            background: $black;
            content: '';
            height: 10px;
            left: 50%;
            position: absolute;
            top: 70%;
            transform: rotate(45deg);
            width: 10px;
        }
    }
}

.card-unfold {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: .25rem;
    &:hover {
        background: linear-gradient(to bottom, $white, darken($white, 1%));
    }
    svg {
        @include svg-size($width: 2rem, $height: .3rem);
        fill: $whitish;
    }
}

.card-tasks {
    border-top: 1px solid $whitish;
    margin: 0;
    margin-top: .5rem;
    padding: 0;
}

.card-task {
    border-bottom: 1px solid $whitish;
    font-size: 12px;
    list-style: none;
    a {
        color: $gray-light;
        display: block;
        overflow: hidden;
        padding: .5rem .75rem;
        text-overflow: ellipsis;
        transition: color .2s;
        white-space: nowrap;
        &.blocked-task {
            color: $red-light;
        }
        &.closed-task {
            color: $gray-light;
            text-decoration: line-through;
        }
        &:hover {
            color: $primary;
        }
    }
}

.card-slideshow {
    margin-top: 1rem;
    position: relative;
    .slideshow-icon {
        cursor: pointer;
        position: absolute;
        top: 45%;
        &:hover {
            svg {
                fill: $primary-light;
            }
        }
    }
    svg {
        @include svg-size(1.2rem);
        transition: fill .2s;
    }
    .slideshow-left {
        left: .5rem;
    }
    .slideshow-right {
        right: .5rem;
    }
    img {
        width: 100%;
    }
}

.card-slideshow-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 200px;
    .loading-spinner {
        max-height: 10rem;
        max-width: 10rem;
    }
}
