.card-inner(
    ng-class="{'card-blocked': vm.item.getIn(['model', 'is_blocked']), 'archived': vm.archived, 'zoom-0': vm.zoom == 0, 'zoom-1': vm.zoom == 1, 'zoom-2': vm.zoom == 2, 'zoom-3': vm.zoom == 3, 'zoom-4': vm.zoom == 4}"
)
    include card-templates/card-tags
    include card-templates/card-owner
    include card-templates/card-title
    include card-templates/card-data
    include card-templates/card-completion
    include card-templates/card-tasks
    tg-card-slideshow(
        ng-if="vm.zoom >= 3 && !vm.item.getIn(['model', 'attachments'])"
        attachments="vm.item.getIn(['model', 'attachments'])"
    )
    include card-templates/card-unfold
